<!DOCTYPE html>
<html>
<title> Sign Up</title>
<link rel="stylesheet" href="css/bootstrap.css" />
<link rel="stylesheet" href="css/app.css" />
<body>
	<script	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
	<script>
		/* Without these comments, Thymeleaf will try to parse the Javascript as XML and break itself sometimes */
		/*<![CDATA[*/ 
		var app = angular.module('myApp', []);
		app.controller('signup', function($scope,$window, $http, $q) {
			$scope.userTypes = [
				{value: 1, display: 'Customer'},
				{value: 2, display: 'Staff'}
			];
			
			$scope.howdy = function () {
				alert("Functionality Coming Soon!!!");
			}
			
			$scope.signup = function () {
				let newUser = {username: $scope.username, password: $scope.password, type: $scope.userType.display};
				console.log(newUser);
				if ($scope.password != $scope.passwordConfirm) {
					alert("Passwords Do Not Match.");
					console.log($scope.password);
					console.log($scope.passwordConfirm);
				}
				else {
					$http.post("/api/v1/user", newUser).then(function(response) { 
						if (newUser.type == "Customer") {
							$window.location.href = "/login";
						}
						else {
							
						}
					}).catch(function(response) {
						alert(response.data.message);
					});
				}
			}
		});
		/* Without these comments, Thymeleaf will try to parse the Javascript as XML and break itself sometimes */
		/*]]>*/
	</script>
	<div ng-app="myApp" ng-controller="signup">
	<h2>Sign up</h2>
	<div class="formcontainer">
	<form ng-submit="signup()" name="accountForm" class="form-horizontal">
		<div class="row">
			<div class="form-group col-md-12">
				<label class="col-md-2 control-lable" for="file">Username : </label>
					<div class="col-md-10">
					<input type="text" ng-model="username" minlength="1" required="true" placeholder="username"/>
					</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-md-12">
				<label class="col-md-2 control-lable" for="file">Password : </label>
					<div class="col-md-10">
					<input type="password" ng-model="password" minlength="1" required="true" placeholder="password"/>
					</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-md-12">
				<label class="col-md-2 control-lable" for="file">Confirm Password : </label>
					<div class="col-md-10">
					<input type="password" ng-model="passwordConfirm" minlength="1" required="true" placeholder="password"/>
					</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm">
				Select time interval: <br />
				<select ng-model="userType" ng-options="item as item.display for item in userTypes" required="true">
					<option value="">Select User Type</option>
				</select>
			</div>
		</div>
		<div>
			<br>
			<input type="submit" value="Sign Up" class="btn btn-primary btn-sm" ng-disabled="addInventoryForm.$invalid" />
		</div>
	</form>
	</div>
    </div>
</body>
</html>