<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Welcome to the CSC326 CoffeeMaker</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Coffee Maker</h1>
	<h2>Available Options</h2>
	<ul>
		<li><a href="recipe.html">Create Recipe</a></li>
		<li><a href="editrecipe.html">Edit Recipe</a></li>
		<li><a href="deleterecipe.html">Delete Recipe</a></li>
		<li><a href="addingredients.html">Create Ingredient</a></li>
		<li><a href="inventory.html">Update Ingredient</a></li>
		<li><a href="makecoffee.html">Fulfill order</a></li>
		<button type="button">Log out</button>
	</ul>
</body>
</html>