<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Welcome to the CSC326 CoffeeMaker</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
<link rel="stylesheet" href="css/bootstrap.css" />
<link rel="stylesheet" href="css/app.css" /> 
</head>
<body>
	<style>
	th, td {
		text-align : center;
		width : 20%; 
		height : 10%; 
	}
	
	#title { 
		padding-right : 50px; 
	}
	
	
</style> 
	<script>
		/*<![CDATA[*/
		var app = angular.module('myApp', []);
		app.controller('vieworder', function($scope, $http, $window) {
			$scope.orders = [];
			
			
			$scope.validCheck = function(status) {
				if (status == "Fulfilled") {
					$scope.invalid = false;
				}
				else {
					$scope.invalid = true;
				}
			}
			
			$scope.getOrders = () => {
				$http.get('/api/v1/order').then(function(response) {
	        		$scope.orders = response.data;
					$scope.selectedOrder = $scope.orders[0]; 
					for(let i = 0; i < $scope.orders.length; i += 1) {
						$scope.orders[i].title = `${$scope.orders[i].username}\'s order  @ ${new Date($scope.orders[i].creationTime)}`
						if($scope.orders[i].fullfilled && $scope.orders[i].pickedUp != true){
							$scope.orders[i].status = "Fulfilled"; 
                        }
                        else if($scope.orders[i].pickedUp && $scope.orders[i].fullfilled){
                        	$scope.orders[i].status = "Picked up";  
                       	}
                        else {
                        	$scope.orders[i].status = "Ordered"; 
                        } 
					}
					$scope.validCheck($scope.orders[0].status)
					console.log($scope.selectedOrder)
	        	});
				
			}
		
			
			$scope.getOrders(); 
			setInterval($scope.getOrders, 60000);  
			
			$scope.onSubmit = () => {
				let body = {
					id : $scope.selectedOrder.id 
				}
				console.log(body); 
				$http.post('/api/v1/order/pickup', body).then((response) => {
					$scope.orders = [];
					// reset the orders to get the new updated list of orders 
					$scope.getOrders(); 
					
				})
				
			}
			
		});
		/*]]>*/
	</script>
	
	<div class="generic-container ng-cloak" ng-app="myApp" ng-controller="vieworder">
		<h1>Current Orders</h1>
		<select ng-model="selectedOrder" ng-change="validCheck(selectedOrder.status)" ng-options="item as item.title for item in orders" required="true">
					<option value="">Select Order to Fulfill</option>
		</select>
		<h3>Current Order of {{selectedOrder.username}}</h3>
		<h4> Order Status: {{selectedOrder.status}}</h4>
		<table border="1">
			<tr>
				<th>Name of the Recipes</th>
				<th>Quantity of the Recipes</th>
			</tr>
			<tr ng-repeat="(key,val) in selectedOrder.recipes">
			  <td>{{key}} </td> 
			  <td>{{val}} </td> 
			</tr>
		</table>
		<h2>
			<button class="btn btn-primary" ng-disabled="invalid" ng-click="onSubmit()">Pickup</button>
			    <a href="customer.html">
					<button class="btn btn-primary">Home</button>
				</a>
		 </h2>
	</div>
</body>
</html>